body {
	background-color: #cc9696;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.4;
	font-size: 16px;
	max-width: 36em;
    margin-right: auto;
    margin-left: auto;
    padding: 8px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    border: 5px solid green;
}

h2 {
	color: #353535;
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 50px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}

h4 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: normal;
	margin-top: 32px;
	margin-bottom: 6px;
}

p {
	margin-top: 0;
	margin-bottom: 16px;
	text-indent: 8px;
}

em {
	color: #cccccc;
	display: block;
	margin-bottom: 32px;
	text-align: center;
}

ul {

}




